
<p class="text-gray-400 text-center mt-32">Drag and drop elements to start building</p>
<f-flow fDraggable (fCreateNode)="onDrop($event)" (fCreateConnection)="onConnect($event)">
    <f-canvas>
        <f-connection-for-create></f-connection-for-create>

        @for (node of (nodeList$ | async); track node.id) {
            <div fNode fDragHandle [fNodePosition]="{ x: node.x, y: node.y }">
                {{ node.name }}
                <div fNodeOutput [fOutputId]="node.id" fOutputConnectableSide="right"></div>
                <div fNodeInput [fInputId]="node.id" fOutputConnectableSide="left"></div>
                <div fNodeOutlet></div>
            </div>
        }
        @for (connection of (connectionList$ | async); track connection.id) {
          <f-connection fBehavior="floating"
                    fType="straight"
                    [fText]="connection.id"
                    [fOutputId]="connection.start" [fInputId]="connection.end">
          </f-connection>
        }
    </f-canvas>
</f-flow>
