div[fNode] {
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: grab;
}

div[fNodeOutlet], div[fNodeOuput] {
    background: blue;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
