div[fNode] {

  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: grab;
}

div[fNodeOutlet] {
  // position: absolute;
  // background: blue;
  // width: 16px;
  // height: 16px;
  // border-radius: 50%;
  // right: -8px;
  // top: 50%;
  // transform: translateY(-50%);
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  display: block;
}

div[fNodeOutput], div[fNodeInput]{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 17px;
}
