@if ((nodeList$ | async)?.length === 0) {
  <p class="text-gray-400 text-center mt-32">Drag and drop elements to start building</p>
}
<f-flow fDraggable (fCreateNode)="onDrop($event)" (fCreateConnection)="onConnect($event)">
    <f-canvas>
        <f-connection-for-create></f-connection-for-create>

        @for (node of (nodeList$ | async); track node.id) {
          <div fNode  [fNodePosition]="{ x: node.position.x, y: node.position.y }">
            <app-dynamic-node [node]="node"></app-dynamic-node>
          </div>
        }
        @for (connection of (connectionList$ | async); track connection.id) {
          <f-connection
            (click)="selectElement(connection.id)"
            fBehavior="floating"
            fType="straight"
            [fText]="connection.id"
            [fOutputId]="connection.start" [fInputId]="connection.end">
          </f-connection>
        }
    </f-canvas>
</f-flow>
