
<p class="text-gray-400 text-center mt-32">Drag and drop elements to start building</p>
<f-flow fDraggable (fCreateNode)="onDrop($event)" (fCreateConnection)="onConnect($event)">
    <f-canvas>
        <f-connection-for-create></f-connection-for-create>

        @for (node of (nodeList$ | async); track node.id) {
          <!-- eslint-disable-next-line -->
          <div fNode fDragHandle [fNodePosition]="{ x: node.x, y: node.y }" (click)="selectElement(node.id)">
            {{ node.name }}
            <div fNodeOutput [fOutputId]="node.id" fOutputConnectableSide="right" [fOutputMultiple]="true"></div>
            <div fNodeInput [fInputId]="node.id" fOutputConnectableSide="left" [fInputMultiple]="true"></div>
            <div fNodeOutlet></div>
          </div>
        }
        @for (connection of (connectionList$ | async); track connection.id) {
          <f-connection
            (click)="selectElement(connection.id)"
            fBehavior="floating"
            fType="straight"
            [fText]="connection.id"
            [fOutputId]="connection.start" [fInputId]="connection.end">
          </f-connection>
        }
    </f-canvas>
</f-flow>
